/* Main styling */ 
body {
    background-color: azure;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    text-align: center;
    cursor: default;
}
    .main-content {
        position: relative;
        width: 33em;
        height: 42em;
        margin: 2.5em auto;
        background-color: #fff;
        border: 0.2em solid rgb(0, 191, 255);   
    }
        .main-content-front {
            margin-top: 1em;
        }
            #avatar { 
                width: 30%;
                margin-top: 1em;
                border: 0.2em solid rgb(0, 191, 255);
                border-radius: 50%;
            }
            #facebook, #github {
                position: absolute;
                width: 2em;
                transition: width .2s;
                -webkit-transition: width .2s;
              border-radius: 50%;

            }
            #facebook:hover, #github:hover {
                width: 2.2em;
            }
#github {
  left: 14em;
}
#facebook {
  left: 17em;
}
        .main-content-body {
            position: absolute; /* so the content doesn't stretch as  */
            top: 21em;        /* the user hovers over the #facebook */
        }
            .full-info {
                line-height: 2em;
                margin: 0 3em;
            }
            .main-content-body ul {
                position: relative;
                top: -.6em;
                left: -0.9em;
                list-style: none;
            }
                .main-content-body li {
                    line-height: 1.6em;
                }
                    a {
                        text-decoration: none;
                            color: darkgrey;
                            transition: color .5s;
                            -webkit-transition: color .5s;
                    }
                    a:hover {
                        color:black;
                    }
            .interests {
                padding-top: 0.1em;
            }

            .pro-log {
                margin: 0 auto;
                line-height: 2em;
            }
                svg {
                  width: 11em;
                } 

/* CLOCK styling */
#time-date {
    width: 13em;
    margin: 3em auto;
    padding: 0.3em;
    border: 0.2em solid rgb(0, 191, 255); 
    background: #fff;
}
    #time-date span { /* pm/am */
        color: #808080;
        font-weight: 700;
        font-variant-position: super;
        font-size: .6em;
        position: relative;
        top: -.35em;
    }

/*
.log-point {
  stroke-width: .05em;
  r: .2em;  
}*/
