/* Main styling */ 
body {
    background-color: azure;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    text-align: center;
    cursor: default;
}
    .main-content {
        position: relative;
        width: 33em;
        height: 95em;
        margin: 2.5em auto;
        background-color: #fff;
        border: 0.2em solid rgb(0, 191, 255);   
    }
        .main-content-front {
            margin-top: 1em;
        }
            #avatar { 
                width: 30%;
                margin-top: 1em;
                border: 0.2em solid rgb(0, 191, 255);
                border-radius: 50%;
            }
            #facebook {
                width: 10%;
                transition: width .5s;
                -webkit-transition: width .5s;

            }
            #facebook:hover {
                width: 11%;
            }
        .main-content-body {
            position: absolute; /* so the content doesn't stretch as  */
            top: 25em;        /* the user hovers over the #facebook */
        }
            .full-info {
                line-height: 1.5em;
                margin: 0 3em;
            }
            .main-content-body ul {
                position: relative;
                top: -.6em;
                left: -0.9em;
                list-style: none;
            }
                .main-content-body li {
                    line-height: 1.6em;
                }
                    .skill a {
                        text-decoration: none;
                            color:lightgray;
                            transition: color 1s;
                            -webkit-transition: color 1s;
                    }
                    .skill a:hover {
                        color:black;
                    }
            .interests {
                padding-top: 0.1em;
            }

            .pro-log {
                margin: 0 auto;
                line-height: 2em;
            }
                svg {
                  width: 20em;
                  margin: auto;
                }
                

/* CLOCK styling */
#time-date {
    width: 13em;
    margin: 3em auto;
    padding: 0.3em;
    border: 0.2em solid rgb(0, 191, 255); 
    background: #fff;
}
    #time-date span { /* pm/am */
        color: #808080;
        font-weight: 700;
        font-variant-position: super;
        font-size: .6em;
        position: relative;
        top: -.35em;
    }

.log-point {
  stroke-width: .05em;
  r: .2em;  
}