/* MENU styling */
.menu-main {
  z-index: 2;
  background: white;
}
.menu-open {
    z-index: 2;
    position: fixed;
    left: 2em;
    top: 1em;
    opacity: .5;
    color: rgb(0, 191, 255);
    font-weight: 900;
}
.menu-main {
    height: 16.25em;
    position: fixed;
    top: 3em;
    left: 0;
    padding-top: 2em;
    border: 0.2em solid rgb(0, 191, 255); 
    border-left: none;
}
    .menu-main ul {
        position:relative;
        left: -0.9em;
        list-style: none;
        line-height: 1em;
        max-width: 5.2em; 
    }
        .menu-main li {
            margin: 2em .2em;
            padding: 0 .2em;
        }
        .menu-main li:hover { 
            font-weight: 900; 
        }
.sub-menu-left {
    z-index: 1;
    height: 18.25em;
    width: 12em;
    position: fixed;
    left: -13em;
    border: 0.2em solid rgb(0, 191, 255);
    background: white;
}     
    .sub-menu-close { 
        margin-top: 2em; 
    }
    .sub-menu-left p {
        font-weight: 900;
    }
    .sub-menu-separator { 
        width: 70%;
        height: .1em;
        margin: -.1em auto;
        background: rgb(0, 191, 255);
    }
    .sub-menu-content {
        margin: 1em .4em;
        line-height: 2em; 
    }
/*----------sub-menu-right----------------*/
.sub-menu-right {
    z-index: 1;
    width: 19em;
    position: fixed;
    top: 0;
    right: -20em;  
    border: 0.2em solid rgb(0, 191, 255); 
    border-right: none;
    background: white;
    overflow: hidden;
}
    .sub-menu-right .sub-menu-content {
        padding: 0 .5em;
        font-size: .95em;
        text-align: justify;
    }
    .sub-menu-right .sub-menu-close { 
        margin: .5em; 
    }
    .sub-menu-right p {
        margin-top: -1em;
        font-weight: 900;
    }
    .sub-menu-right .sub-menu-separator { 
        width: 70%;
        height: .1em;
        margin: -.1em auto;
        background: rgb(0, 191, 255);
    } 
    .sub-menu-right #date {
        font-size: .9em;
        font-weight: 500;  
    }