
body {
    background-color: azure;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    cursor: default;
}

.main-content {
    position: relative;
    margin: 2.5em auto;
    width: 33em;
    height: 55em;
    background-color: #fff;
    border: 0.2em solid rgb(0, 191, 255);   
}

.main-content-front {
    width: inherit;
    position: absolute;
    margin-top: 1em;
}

#avatar {
    display: block;
    margin: 1em auto 0;
    width: 30%;
    border-radius: 50%;
    border: 0.2em solid rgb(0, 191, 255); 
}

h2 {
    font-size: 21px;
    font-weight: 600;
    line-height: 1.3;
    margin: 9px, 0, 24px;
    color: #808080;
    position: relative;
}

#facebook {
    position: relative;
    margin:  0.5em auto;
    width: 10%;
    transition: width .5s;
    -webkit-transition: width .5s;

}

#facebook:hover {
    width: 11%;
}

.main-content-body {
    width: inherit;
    position: absolute;
    bottom: 2em;
    color: black;
}

.full-info {
    line-height: 1.5em;
    margin: 0 3em;
}

.skill a {
    text-decoration: none;
    color:lightgray;
    transition: color 1s;
    -webkit-transition: color 1s;
}
.skill a:hover {
    color:black;
}

.experience {
    margin: -.5em 4em;
    line-height: 2em;
}

#left {
    float:left;
    text-align: justify;
    margin-left: 2em;
}

#right {
    float: right;
    text-align: justify;
    margin-right: 1em;   
}

.interests {
    clear: both;
    padding-top: 0.1em;
}

.main-content ul {
    margin-top: -.6em;
}

.main-content li {
    position: relative;
    left: -0.9em;
    list-style: none;
    line-height: 1.6em;
    margin: 0 10em;  
}

#time-date {
    position: relative;
    z-index: 1;
    background: #fff;
    margin: 3em auto;
    border: 0.2em solid rgb(0, 191, 255); 
    width: 10em;
    padding: 0.3em;
    line-height: 1.1em;
}

#time-date span {
    color: #808080;
    font-weight: 700;
    font-variant-position: super;
    font-size: .6em;
    position: relative;
    top: -.35em;
}

.menu-main {
    margin 1em;
    padding-top: 2em;
    position: fixed;
    display: inline-block;
    left: 0em;
    top: 3em;
    z-index: 2;
    background: white;
    border: 0.2em solid rgb(0, 191, 255); 
    border-left: none;
}

 .sub-menu {
      width: 12em;
      height: 18.25em;
      padding: 0 .3em;
      display: inline;
      position: fixed;
      left: -14em;
      border: 0.2em solid rgb(0, 191, 255);
      border-left: none;
      top: 3em;
      z-index:1;
      color: rgb(0, 191, 255);
      font-weight: 900;
      background: white; 
  }

.menu-open {
    display: inline;
    position: fixed;
    left: 2em;
    top: 1em;
    z-index:2;
    opacity: .5;
    color: rgb(0, 191, 255);
    font-weight: 900;
}

.menu li {
    position:relative;
    left: -0.9em;
    list-style: none;
    line-height: 1em;
    margin: 2em 1em;
    padding: 0 .2em;
    max-width: 3em;

  }

.menu li:hover { font-weight: 900; }
.sub-menu-close { margin-top: 2em; }

.sub-menu p {
    color:black;
    font-weight: 900;
}

.sub-menu-separator { 
    background: rgb(0, 191, 255);
    height: .1em;
    width: 70%;
    margin: -.1em auto;
}

.sub-menu-content {
    margin: .1em .4em;
    color: black;
    font-weight: 400;
    line-height: 2em;
    text-align: center;
}